/*  Author: Prit Ajaykumar Sorathiya - B00890175 */

.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 500px;
  width: auto;
  object-fit: contain;
}
