.dropdown-menu {
  background: var(--theme-dark);
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: var(--theme-blue);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: var(--hover-blue);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--theme-white);
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
